* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f7f7f7;
    font-family: "Lato", sans-serif;
  }
  
  .topnav {
    background-color: #c7003d;
    display: flex;
    height: 28px;
    justify-content: space-between;
  }
  
  .topnav ul {
    display: flex;
    margin-right: 40px;
  }
  
  .topnav ul li {
    padding-right: 36px;
    padding-top: 6px;
    font-size: 12px;
    list-style-type: none;
  }
  
  .topnav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .topnav h2 {
    font-size: 12px;
    padding-top: 6px;
    padding-left: 70px;
    color: white;
  }
  /* -----mainnav--- */
.mainnav {
    background-color: #e40046;
    display: flex;
    justify-content: space-around;
  }
  
  .logoimg {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .search {
    width: 50%;
    margin-left: 40px;
  }
  
  .search input {
    width: 72%;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin: 12px;
    font-size: 16px;
  }
  
  .search input:placeholder-shown {
    font-size: 16px;
    padding-left: 20px;
  }
  
  .search button {
    width: 18%;
    height: 38px;
    margin-left: -16px;
    background-color: #333333;
    color: white;
    outline: none;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn i {
    font-size: 16px;
  }
  
  .moreitemslist {
    display: flex;
    margin-right: 34px;
  }
  
  .moreitems1,
  .moreitems2 {
    padding-top: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    padding-left: 20px;
    padding-right: 57px;
    position: relative;
  }
  
  .moreitems2 a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .moreitems1 a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .moreitems2:hover {
    background-color: #333333;
    border-radius: 4px 4px 0 0;
  }
  
  .moreitems1,
  .moreitems2 a i {
    font-size: 22px;
    color: white;
    margin-left: 10px;
  }
  
  .signsub {
    display: none;
  }
  
  .signsub ul {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .signsub ul li {
    list-style: none;
    padding-top: 10px;
    padding-left: 26px;
    cursor: pointer;
  }
  
  .signsub ul li i {
    padding-right: 10px;
  }
  
  .signsub p {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
  }
  
  .signsub h3 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 14px;
    cursor: pointer;
  }
  
  #login {
    background-color: #e40046;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 30px 8px 30px;
    margin: 55px;
    cursor: pointer;
  }
  
  .moreitems2:hover .signsub {
    width: 129%;
    position: absolute;
    height: 400%;
    margin-top: 21px;
    margin-left: -67px;
    display: block;
    background-color: #333333;
    color: white;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }
  
.container {
    margin-top: 20px;
    width: 99%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "l l r r r r r r r r";
  }
  
  .leftside {
    grid-area: l;
    background-color: white;
    margin: 0 24px 0 42px;
    height: 126vh;
  }
  
  .topCat {
    font-size: 11px;
    color: #333333;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  .leftside li {
    display: flex;
    margin-bottom: 12px;
    position: relative;
    height: 36px;
  }
  .leftside li:hover {
    border-left: 3px solid red;
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  
  .sublists {
    display: none;
  }
  
  .sublists hr {
    margin-top: 10px;
    width: 60%;
    margin-left: 50px;
    color: lightgrey;
  }
  .sublists h4 {
    font-size: 11px;
    padding: 10px 30px 8px 10px;
    border-right: 1px solid lightgrey;
    margin-left: 20px;
    color: #333333;
  }
  .sublists p {
    font-size: 13px;
    padding-bottom: 8px;
    border-right: 1px solid lightgrey;
    padding-left: 10px;
    margin-left: 20px;
    color: #666666;
  }
  .listitems {
    display: flex;
  }
  
  .list1:hover .sublists {
    position: absolute;
    display: block;
    margin-top: -38px;
    z-index: 1;
    margin-left: 203px;
    width: 420%;
    height: 500px;
    background: whitesmoke;
    cursor: pointer;
    
  }
  .list2:hover .sublists {
    position: absolute;
    display: block;
    margin-top: -86px;
    z-index: 1;
    margin-left: 203px;
    width: 420%;
    height: 500px;
    background: whitesmoke;
  }
  
  .list3:hover .sublists {
    position: absolute;
    display: block;
    margin-top: -134px;
    z-index: 1;
    margin-left: 203px;
    width: 420%;
    height: 500px;
    background: whitesmoke;
  }
  .list4:hover .sublists {
    position: absolute;
    display: block;
    margin-top: -182px;
    z-index: 1;
    margin-left: 203px;
    width: 420%;
    height: 500px;
    background: whitesmoke;
  }
  .list5:hover .sublists {
    position: absolute;
    display: block;
    margin-top: -230px;
    z-index: 1;
    margin-left: 203px;
    width: 420%;
    height: 500px;
    background: whitesmoke;
  }
  .listimg img {
    width: 200px;
  }
  
  .leftside li img {
    width: 24%;
    /* padding: 16px; */
    padding-left: 12px;
  }
  .leftside li span {
    padding: 9px 0 0 8px;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
  }
  
  .moreCat p {
    font-size: 11px;
    color: #333333;
    padding: 12px;
    font-weight: bold;
  }
  
  .moreli {
    margin-top: -14px;
  }
  
  .moreli li {
    margin-top: -2px;
    padding: 0px 0 0 10px;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    margin-bottom: -6px;
  }
  
  .moreli li a {
    color: #25a8ed;
    text-decoration: none;
    font-size: 13px;
    padding: 5px 0 0 10px;
  }
  
  .moreli i {
    font-size: 12px;
    color: #666666;
    margin-right: 6px;
  }
  
  .barcode {
    display: flex;
    width: 180%;
    margin-left: 30px;
    margin-top: -10px;
  }
  .barcode img {
    width: 30%;
  }
  .bartext p {
    margin-top: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .bartext h3 {
    font-size: 10px;
    padding-left: 10px;
  
    color: #666666;
  }
  
  /* -------rightbox--- */
  .rightside {
    grid-area: r;
  }
  
  .sliderContainer {
    width: 100%;
    height: 60vh;
    position: relative;
    border-radius: 0.3rem;
    overflow: hidden;
  }
  
  .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 1s ease-in-out;
    text-align: center;
  }
  
  .slides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .btnContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  .prevBtn {
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
    font-size: 40px;
    color: white;
  }
  
  .prevBtn:hover {
    transition: all 1s ease;
    color: black;
  }
  
  .nextBtn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 40px;
    margin-right: 20px;
    color: white;
  }
  .nextBtn:hover {
    transition: all 1s ease;
    color: black;
  }
  
  /* ------cardSliders---- */
  
  .Container {
    width: 100%;
    margin-top: 2%;
  }
  .Container h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .sliderContainer {
    width: 100%;
    background-color: white;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .sliderContainer .prevbtn i {
    position: absolute;
    font-size: 38px;
    margin-top: 12%;
    color: white;
    cursor: pointer;
  }
.sliderContainer .prevbtn i:hover {
    color: black;
    transition: all 1s ease;
  }
.sliderContainer .nextbtn i {
    position: absolute;
    font-size: 38px;
    margin-left: 93%;
    margin-top: -300px;
    color: white;
    cursor: pointer;
  }
  .sliderContainer .nextbtn i:hover {
    color: black;
    transition: all 1s ease;
  }
  
  .sliderContainer #slider {
    display: flex;
    transition: all 0.5s;
  }
  
  .slide {
    width: 24%;
  }
  #slider img {
    width: 220px;
  }
  
  #slider p {
    font-size: 15px;
    padding: 4px;
  }
  
  .stars span i {
    font-size: 13px;
    padding: 7px;
    color: gold;
  }
  
  /* ------2nd phase--- */
  
  .trending {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .trendhead h2 {
    padding: 20px;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  .trenditems {
    width: 87%;
    padding: 27px 13px;
    margin: 10px 0 10px 20px;
    cursor: pointer;
    background-color: white;
  }
  .trenditems:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .trenditems img {
    width: 100%;
  }
  .trenditems p {
    font-size: 15px;
    color: #666666;
    padding: 5px;
  }
  
  .trenditems span i {
    font-size: 13px;
    padding: 4px;
    color: gold;
  }
  
  .pricetag {
    display: flex;
    padding: 5px;
  }
  .pricetag h5 {
    text-decoration: line-through;
    color: rgb(180, 176, 176);
    padding: 3px;
  }
  .pricetag h4 {
    padding-left: 5px;
    color: #333333;
  }
  .pricetag p {
    border: 1px solid rgb(180, 176, 176);
    padding: 0px;
    margin-left: 9px;
  }
  
  /* ----download snap--- */
  
  .downloadsnap {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .downloadsnap img {
    margin-right: 4%;
  }
  .snapText {
    margin-top: 50px;
  }
  .snapText h5 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .snapText p {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .snapText h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .snapText img {
    margin-top: 14px;
    cursor: pointer;
  }
  #leaves {
    position: absolute;
    top: 0px;
    right: -54px;
  }
  
  /* ------secure-- */
  
  .secure {
    margin-top: 40px;
    width: 100%;
    background-color: white;
    height: 200px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }
  .cardsitems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    margin: 0 100px;
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    align-items: center;
  }
  
  .cards h3 {
    font-size: 18px;
    color: #5a5a5a;
    margin: 4px 0;
    margin-top: 10px;
  }
  
  .cards p {
    font-size: 12px;
    color: #a4a3a3;
    margin: 2px 0;
  }
  
  /* ---footer1--- */
  
  .footer1 {
    width: 100%;
    background-color: white;
    height: 40vh;
  }
  
  .footCard {
    display: flex;
    justify-content: center;
  }
  .footitems {
    margin: 40px 10px 0 30px;
  }
  .footitems h3 {
    font-size: 14px;
    color: #344c55;
  }
  .footitems p {
    font-size: 12px;
    padding-top: 14px;
    color: #a5a5a5;
    cursor: pointer;
  }
  .footitems p:hover {
    text-decoration: underline;
  }
  
  .footitems input {
    font-size: 13px;
    color: #999;
    border: none;
    border-radius: 2.9px;
    background-color: #f7f8fa;
    height: 37.5px;
    margin-top: 12px;
  }
  .footitems input:placeholder-shown {
    padding-left: 10px;
  }
  
  .footitems button {
    height: 38px;
    font-size: 12px;
    padding: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #333;
    background: #333;
    color: white;
    cursor: pointer;
  }
  
  .footitems span {
    color: #25a8ed;
    font-size: 12px;
    cursor: pointer;
  }
  
  /* ----payment-- */
  
  .payments {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }
  .pay h2 {
    font-size: 14px;
  }
  .social h2 {
    font-size: 14px;
  }
  
  .icons {
    font-size: 28px;
    cursor: pointer;
  }
  .icons i {
    padding-right: 16px;
    padding-top: 10px;
  }
  
  .fa-facebook {
    color: blue;
  }
  .fa-twitter {
    color: blue;
  }
  .fa-youtube {
    color: red;
  }
  .fa-instagram {
    color: red;
  }
  .fa-pinterest {
    color: red;
  }
  
  .fa-cc-mastercard {
    color: #25a8ed;
  }
  .fa-cc-visa {
    color: lightskyblue;
  }
  .fa-cc-paypal {
    color: blue;
  }
  .fa-cc-apple-pay {
    color: red;
  }
  .fa-cc-amex {
    color: black;
  }
  /* ---about--- */
  
  .about {
    width: 100%;
    padding: 40px;
  }
  .about h2 {
    font-size: 18px;
    color: #344c55;
    font-weight: bold;
  }
  .about p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
    word-spacing: 1px;
    margin-top: 15px;
  }
  
  /* ---copy */
  
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 18px 28px 18px 28px;
  }
  .copyright h2 {
    color: #666666;
    font-size: 12px;
  }
  .copyright h3 {
    font-size: 12px;
    color: #666;
  }
  
  .copyright h3 i {
    color: #fd4b4b;
    padding-left: 4px;
    font-size: 16px;
    margin-right: 9px;
    margin-left: 3px;
  }
  a {
    text-decoration: none;
  }
  