.products-filter-container {
    display: flex;
    gap: 10px;
    /* width: '95%';
    margin: 'auto'; */
}

.filter-component {
    width: 15%;
    border-right: 1px solid gray;
}

.product-list {
    width: 85%;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    /* gap:2px ; */
}

.container {
    width: '100%';
    margin: 'auto';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.cartItem{
    width: '100%';
    margin: 'auto';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    gap:'20px';
    /* padding-left:'20px'; */
}

.imag {
    height: 150px;
    width: 150px;
    margin: auto;
    position: 'center';
}

.filterHeading {
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.filtertitle {
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.sidebar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: whitesmoke;
    
}

@media screen and (max-width: 950px){
    .filter-component {
        width: 30%;
    }
    
    .product-list {
        width: 70%;
    }
    .filterHeading {
        padding-left: 20px;
    }
    
    .filtertitle {
        padding-left: 40px;
    }
}