
.gradient  span{

    font-size: 18px;
    background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab 80%);
  
  font-weight: 600;

} 
/* .body{
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000")
} */